.app-base {
  margin-left: 40px;
  margin-right: 40px;
}
.form-base {
  min-height: 550px;
  width: 100%;
  margin: 20px;
  border: 1px solid #d2c2c2;
  padding: 30px;
}
.dragSortable .form-row {
  border: 1px solid #e0d3d3;
  border-radius: 20px;
  padding: 7px;
}
.dragSortable .sortable-element {
  cursor: move;
}
.sortable-element:hover {
  background-color: #f7f5f4;
}
.dragSortable .radio-group {
  margin: 5px 0;
  padding-left: 0;
}
.form-builder {
  width: 100%;
  border: 1px solid #d2c2c2;
  border-radius: 15px;
  padding: 10px;
  background-color: #f7f3f3;
}
.vertical-bar {
  height: 400px;
  margin-top: 100px;
}
.horizontal-bar {
  margin: 20px;
  padding: 5px;
}
.element-item {
  margin: 7px;
  padding: 5px;
  border: 1px solid #d0d0d0;
  cursor: move;
}
.editable-label {
  border: 1px dashed #d0d0d0;
  padding: 4px;
}
.icon {
  height: 20px;
  width: 20px;
  fill: #a99b9b;
}
.icon-sm {
  height: 30px;
  width: 30px;
  fill: #a99b9b;
}
.icon-md {
  height: 35px;
  width: 35px;
  fill: #a99b9b;
}
.icon-xlarge {
  height: 150px;
  width: 150px;
  fill: #a99b9b;
}
.type-rep {
  vertical-align: super;
  padding: 5px;
}
.form-control {
  border: none;
}
.input-text {
  height: 31px;
}
.label-container {
  margin-right: 25px;
}
.input-text-area {
  border: 1px solid #eee;
}
ul {
  list-style: none;
}

@-webkit-keyframes moveSideBar {
  from { -webkit-transform: translateY(500px); }
  to { -webkit-transform: translateY(0); }
}

@keyframes moveSideBar {
  from { transform: translateY(500px); }
  to { transform: translateY(0); }
}

.animated-class {
  z-index: 1000;
  -webkit-animation: moveSideBar 0.80s;
  animation: moveSideBar 0.80s;
  position: relative;
}
.view-form {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
}
label {
  font-weight: normal;
}
.btn {
  margin: 0 10px;
}
table {
  border: 1px solid #eee;
}
tr {
  cursor: pointer;
}
.cp {
  cursor: pointer;
}
